.home-main{
    width: 100%;
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-p{
    font-size: 60px;
    color: var(--blue-dark);
    text-align: center;
    z-index: 1;

    @media(min-width:576px){
        font-size: 60px;
    }
    
}